.collection-preview {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;

    .title-wrap {
      border-bottom: 3px solid black;
      margin-bottom: 15px;

      .title {
        font-size: 28px;

      }
    }
  
    .preview {
      display: flex;
      justify-content: space-between;
    }
  }
  